.App {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* تنظیم ارتفاع تا صفحه را پر کند */
}

.box {
  max-width: 800px; /* حداکثر عرض باکس */
  padding: 20px; /* فاصله از لبه‌ها */
  border: 7px solid #ccc; /* حاشیه باکس */
  border-radius: 10px; /* شکل گوشه‌ها */
}
